# ── Django Core ───────────────────────────
SECRET_KEY=my_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


# ── Database (PostgreSQL) ─────────────────
DB_ENGINE=django.db.backends.postgresql
DB_NAME=samm_db1
DB_USER=sammiuser1
DB_PASSWORD=123456789
DB_HOST=localhost
DB_PORT=5432


# ── JWT Token Settings ────────────────────
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7


# ── CORS ─────────────────────────────────
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000


# ── Media & Static Files ─────────────────
MEDIA_URL=/media/
MEDIA_ROOT=media
STATIC_URL=/static/
STATIC_ROOT=staticfiles

# ── Security (Production da True qiling) ──
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0

# ===========================================================
# GOOGLE OAUTH 2.0
# ===========================================================
# Google
GOOGLE_CLIENT_ID=MY_CLEINT_ID
GOOGLE_CLIENT_SECRET=MY_SECRET_KEY
GOOGLE_CALLBACK_URL=MY

# GitHub
GITHUB_CLIENT_ID=MY_GITHUB
GITHUB_CLIENT_SECRET=GIT
GITHUB_CALLBACK_URL=as
# Minio
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=sammi-media
MINIO_USE_HTTPS=False

